# requires defines to be replaced for PHP_DIR, ROOT_DIR, APP_PATH, WEB_ROOT

configType = "module"

defaultModule = "page"
modulesDir = '${PHP_DIR}/modules'
modulesBootstrap = 'mod_bootstrap.php'
timezone = 'Australia/Sydney'
logErrors = true
errorLog = '${PHP_DIR}/log/error.log'
offline = false
loader = { Pcan = '${PHP_DIR}/Pcan' }
metaDir = '${PHP_DIR}/cache/metadata'

# A new table has to be declared before its sub-tables
# module_data strings are module aliases - to invoke router 
# config for that module

[module_data] 
alias='test'
id = 'secure'
article='page'
page_admin='page'

[module_data.modtools]
dir = '${PHP_DIR}/vendor/phalcon/devtools/scripts/Phalcon/Web/ModTools'
namespace = 'ModTools'
bootstrap = 'mod_bootstrap.php'
PTOOLSPATH = '${PHP_DIR}/vendor/phalcon/devtools'
BASE_PATH = '${ROOT_DIR}/private' 

[module_data.secure]
dir = '${PHP_DIR}/modules/secure'
namespace = 'Secure'
bootstrap = 'secure_bootstrap.php'
services = ['acl']

[module_data.page]
dir = '${PHP_DIR}/modules/page'
namespace = 'Page'
bootstrap = '${PHP_DIR}/Mod/mod_bootstrap.php'

[module_data.app]
dir = '${PHP_DIR}/modules/app'
namespace = 'Mod\App'
bootstrap = '${PHP_DIR}/Mod/mod_bootstrap.php'

[module_data.admin]
namespace = 'Admin'
bootstrap = 'admin_bootstrap.php'

# Intercept particular URI and map-forward them to other requests
[urlmap.home]
controller="page/home"
action="index"
caption="Home"
class=''

[urlmap.logout]
controller="secure/id"
action="end"
caption="Log-Out"
class=''

[urlmap.dashboard]
controller="secure/dashboard"
action="index"
caption="Dashboard"
class=''

[urlmap.login]
controller="secure/id"
action="index"
caption="Log-in"
class='cd-signin'

[application]
# Table 'application' is used by phalcon-devtools generation.

modelsDir = "${APP_PATH}/models"
appDir = '${APP_PATH}'
controllersDir = '${APP_PATH}/Controllers'
migrationsDir = '${PHP_DIR}/setup/db'
viewsDir = '${APP_PATH}/views'
pluginsDir = '${APP_PATH}/plugins'
libraryDir = '${APP_PATH}/library'
cacheDir = '${PHP_DIR}/cache'

