[_default]
controller = 'home'
action = 'index'
module='page_admin'


# Can't put module in match if its default module!
[[_pattern]]
match = '/gallery/:action'
controller = 'gallery'
action = 1
module = 'page_admin'

[[_pattern]]
match = '/gallery/view/{name}'
controller = 'gallery'
action = 'view'
module = 'page_admin'

[edit.categorytick]
methods = ['POST']

[edit.note]
methods = ['GET','POST']
pattern = 'blog/{id}'

[contact.index]
methods = ['GET','POST']

[home.index]
methods = ['GET']

[home.link]
methods = ['GET']

[home.home]
methods = ['GET']

[[_pattern]]
match = '/article/{name}'
action = 'byTitle'
controller = 'article'
module = 'page_admin'

[[_pattern]]
match = '/page_admin/edit/{action}'
paths = { action=1, module='page', controller='edit'}

[[_pattern]]
match = '/page_admin/category/{action}'
paths = { action=1, module='page', controller='category'}

[[_pattern]]
match = '/page_admin/category/{action}/{id}'
paths = { action=1, id=2, module='page', controller='category'}

[[_pattern]]
match = '/page_admin/links/{action}'
paths = { action=1, module='page', controller='links'}

[[_pattern]]
match = '/page_admin/links/{action}/{id}'
paths = { action=1, id=2, module='page', controller = 'links'}

[[_pattern]]
match = '/page_admin/meta/{action}'
paths = { action=1, module='page', controller = 'meta'}

[[_pattern]]
match = '/page_admin/gallery/{action}'
paths = { action=1, module='page', controller = 'admingallery'}

[[_pattern]]
match = '/page_admin/gallery/{action}/{name}'
paths = { action=1, name=2, module='page', controller = 'admingallery'}



[refer.index]
methods = ['GET']

[cat]
controller = 'artcat'

[cat._actions]
index = 'index/{catclean}'
fetch = 'fetch/{id}'
